matplotlib==3.8.4
mediapipe==0.10.14
numpy==1.26.4
opencv-contrib-python>=4.8.1.78
pandas==2.2.1
Pillow==10.4.0
pytorch-fid==0.3.0
scikit-image==0.22.0
scikit-learn==1.4.2
timm==0.9.16
torch==2.3.0
torchdata==0.7.1
torchvision==0.18.0
torchsummary==1.5.1
torch_geometric==2.5.3
tensorboard==2.16.2
tqdm==4.66.5
