numpy==1.26.4
scipy==1.13.0
pandas==2.2.1
matplotlib==3.8.4
requests==2.31.0
PyYAML==6.0.1
urllib3==2.2.1
scikit-learn==1.4.2
xgboost==2.0.3
spacy==3.7.4
cupy-cuda12x==13.1.0
jax==0.4.28
jaxlib==0.4.28
--extra-index-url=https://pypi.nvidia.com
cudf-cu12==24.4.1
dask-cudf-cu12==24.4.1
cuml-cu12==24.4.0
cugraph-cu12==24.4.0
cuspatial-cu12==24.4.0
cuproj-cu12==24.4.0
cuxfilter-cu12==24.4.1
cucim-cu12==24.4.0
pylibraft-cu12==24.4.0
raft-dask-cu12==24.4.0
cuvs-cu12==24.4.0
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
torchtext==0.18.0
apex==0.9.10.dev0
tensorboard==2.16.2
pytest==8.2.0
pytest-xdist==3.6.1
ipykernel==6.29.4
ipython==8.24.0
aiohttp==3.9.5
async-timeout==4.0.3
multidict==6.0.5
timm==0.9.16
torchsummary==1.5.1
torch_geometric==2.5.3
scikit-image==0.22.0
opencv-contrib-python==4.7.0.72
mediapipe==0.10.14
pytorch-fid==0.3.0
torchdata==0.7.1